<div class="background spoiler" data-bg="{{ site_asset(episode, 'img') }}"></div>
<div class="wrapper">
    <h3 class="title">
        #{{ episode.number }} {{ episode.title }}
    </h3>
    {% if episode.airDate is not null %}
        <div>
            {{ "Air date : %air_date%"|trans({'%air_date%': episode.airDate|format_date(locale: 'fr_FR', dateFormat: 'full')}) }}
        </div>
    {% endif %}
    {% if episode.directors|length > 0 %}
        <div class="duration">
            {{ time_runtime(episode.runtime) }}
        </div>
    {% endif %}
    <div class="overview html-content">
        {{ episode.overview|raw }}
    </div>
</div>