<div class="wrapper">
    <h3 class="title">
        {{ item.title }}
    </h3>
    <div class="dates">
        {{ item.yearStart|format_date(locale: 'fr_FR', pattern='MMMM yyyy') }} - {% if item.end == false %}{{ item.yearEnd|format_date(locale: 'fr_FR', pattern='MMMM yyyy') }}{% else %}{{ "experience.present"|trans }}{% endif %}
    </div>
    <div class="enterprise">
        {{ item.entreprise }}
    </div>
    <div class="content html-content">
        {{ item.description|raw }}
    </div>
    <div class="list-competences">
        {% for competence in item.competences %}
            <span class="icon-{{ competence.icon }}">
                {{ competence.title }}
            </span>
        {% endfor %}
    </div>
</div>