<a href="https://www.imdb.com/title/tt{{ movie.imdb }}" target="_blank">
    <div class="background" style="--image-url: url('{{ site_asset(movie, 'img') }}')"></div>
    {% if movie.categories|length > 0 %}
        <div class="categories">
            {% for categorie in movie.categories %}
                <span class="categorie-{{ categorie.slug }}">{{ categorie.title }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <div class="title">
        Titre : {{ movie.title }}
    </div>
    <div class="year">
        Année : {{ movie.year }}
    </div>
    <div class="country">
        Pays : {{ movie.country }}
    </div>
    <div class="color">
        Couleur : {{ movie.color }}
    </div>
    <div class="duration">
        Durée : 
        {% if movie.duration < 60 %}
            {{ movie.duration ~ " min" }}
        {% else %}
            {% set hours = (movie.duration // 60) %}
            {% set minutes = (movie.duration % 60) %}
            {{ hours ~ 'h ' ~ minutes ~ " min" }}
        {% endif %}
    </div>
    {% if movie.evaluation != null %}
    <div class="evaluation">
        Evaluation : {{ movie.evaluation }}
    </div>
    {% endif %}
    {% if movie.trailer != null %}
    <div class="trailer">
        Trailer : {{ movie.trailer }}
    </div>
    {% endif %}
    {% if movie.votes != null %}
    <div class="votes">
        Votes : {{ movie.votes }}
    </div>
    {% endif %}
</a>