<a href="javascript:void(0);" data-a11y-dialog-show="movie-modal-{{ movie.id }}">
    <div class="background" style="--image-url: url('{{ site_asset(movie, 'img') }}')"></div>
    <div class="wrapper">
        {% if movie.categories|length > 0 %}
            <div class="categories">
                {% for categorie in movie.categories %}
                    <span class="categorie-{{ categorie.slug }}">{{ categorie.title }}</span>
                {% endfor %}
            </div>
        {% endif %}
        <h3 class="title">
            {{ movie.title }}
        </h3>
    </div>
</a>