{% set total = 0 %}
{% for movie in saga.movies %}
    {% if movie.enable %}
        {% set total = total + 1 %}
    {% endif %}
{% endfor %}
<a href="{{ site_path(saga) }}" title="{{ saga.title|e('html_attr') }}">
    <div class="background spoiler" data-bg="{{ site_asset(saga, 'poster') }}">
        {% if total != 0 %}
            <span class="movies">
                {{ '%count% movies'|trans({'%count%': total}) }}
            </span>
        {% endif %}
    </div>
    <div class="wrapper">
        <h2 class="title">
            {{ saga.title }}
        </h2>
    </div>
</a>