{% set episodes = season.episodes %}
{% set firstEpisode = episodes|first %}
{% set lastEpisode = episodes|last %}
{% set runtime = 0 %}
{% for episode in episodes %}
    {% set runtime = runtime + episode.runtime %}
{% endfor %}
<a href="{{ site_path(season) }}">
    <div class="img">
        <div class="background spoiler" data-bg="{{ site_asset(season, 'img') }}"></div>
    </div>
    <div class="wrapper">
        <h3 class="title">{{ season.title }}</h3>
        {% if firstEpisode.airDate is defined %}
            <div class="dates">
                {{ "From %start% to %end%"|trans({'%start%': firstEpisode.airDate|format_date(locale: 'fr_FR', dateFormat: 'full'), '%end%' : lastEpisode.airDate|format_date(locale: 'fr_FR', dateFormat: 'full')}) }}
            </div>
        {% endif %}
        {% if runtime != 0 %}
            <div class="duration">
                {{ time_runtime(runtime) }}
            </div>
        {% endif %}
        <div class="episodes">
            {{ "%number% episodes"|trans({'%number%': season.episodes|length}) }}
        </div>
        <div class="overview html-content">
            {{ season.overview|raw }}
        </div>
    </div>
</a>