<a href="{{ site_path(season) }}">
    <div class="img">
        <div class="background spoiler" data-bg="{{ site_asset(season, 'img') }}"></div>
    </div>
    <div class="content">
        <h3 class="title">
            {{ season.title }}
        </h3>
        <div class="episodes">
            {{ "%number% episodes"|trans({'%number%': season.episodes|length}) }}
        </div>
        <div class="overview">
            {{ season.overview|raw }}
        </div>
    </div>
</a>