{% set instance = entity.instance %}
{% if ea().crud.currentAction == 'detail' %}
  <table class="table datagrid">
    {% for casting in instance.castings %}
      {% if casting.refEpisode is not null %}
        <tr>
          <td>
            <a href="{{ admin_url('detail', casting.refPerson) }}">
              {{ casting.refPerson.title }}
            </a>
          </td>
          <td>{{ casting.knownForDepartment }}</td>
          <td>{{ casting.figure }}</td>
          <td>
            <a href="{{ admin_url('detail', casting.refEpisode) }}">
              {{ casting.refEpisode.title }}
            </a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
{% else %}
  {{ instance.castings|length }}
{% endif %}
