{% set instance = entity.instance %}
{% if ea().crud.currentAction == 'detail' %}
  <table class="table datagrid">
    <thead>
      <tr>
        <th>{{ 'Person'|trans }}</th>
        <th>{{ 'Known For Department'|trans }}</th>
        <th>{{ 'Figure'|trans }}</th>
        <th>{{ 'Serie'|trans }}</th>
        <th>{{ 'Season'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for casting in instance.castings %}
      {% if casting.refSeason is not null %}
        <tr>
          <td>
            <a href="{{ admin_url('detail', casting.refPerson) }}">
              {{ casting.refPerson.title }}
            </a>
          </td>
          <td>{{ casting.knownForDepartment }}</td>
          <td>{{ casting.figure }}</td>
          <td>
            <a href="{{ admin_url('detail', casting.refSeason.refserie) }}">
              {{ casting.refSeason.refserie.title }}
            </a>
          </td>
          <td>
            <a href="{{ admin_url('detail', casting.refSeason) }}">
              {{ casting.refSeason.title }}
            </a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
{% else %}
  {{ instance.castings|length }}
{% endif %}
