<div class="video" style="--image-url: url('{{ image }}')" data-src="{{ trailer }}" data-html=""{% if title is defined %} data-title="{{ title }}"{% endif %} data-provider="{{ provider }}">
    <button class="js-btnvideo">{{ btntitle }}</button>
</div>