<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <title>{% block title %}{{ site_title(data) }}{% endblock %}</title>
        {% block meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {{ site_metatags(data) }}
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('front') }}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/tarteaucitron/tarteaucitron.js') }}"></script>
            {{ encore_entry_script_tags('front') }}
        {% endblock %}
        {% for row in header %}
            {{ site_content(row) }}
        {% endfor %}
    </head>
    <body>
        {% for balise, blockposition in blocks %}
            {% if blockposition|length != 0 %}
                <{{ balise }}>
                    {% for tab in blockposition %}
                        {{ debug_begin(tab) }}
                        {{ block_show(tab) }}
                        {{ debug_end(tab) }}
                    {% endfor %}
                </{{ balise }}>
            {% endif %}
        {% endfor %}
        {% for row in footer %}
            {{ site_content(row) }}
        {% endfor %}
    </body>
</html>
