<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}">
    <div class="background" style="background-image: url('{{ site_asset(history, 'img') }}')"></div>
    <div class="title">
        {{ history.title }}
    </div>
    <div class="author">
        {{ history.refuser.username }}
    </div>
    <div class="date">
        {{ history.createdat|date('d/m/Y') }}
    </div>
</section>