{% use "elements.html.twig" %}
{% set runtime = 0 %}
{% for season in serie.seasons %}
    {% for episode in season.episodes %}
        {% set runtime = runtime + episode.runtime %}
    {% endfor %}
{% endfor %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="first">
        <div class="background" style="--image-url: url('{{ site_asset(serie, 'img') }}')"></div>
        <div class="content">
            <div class="wrapper">
                <h3 class="title">
                    {{ serie.title }}
                </h3>
                {% if serie.categories|length > 0 %}
                    <div class="categories">
                        {% for category in serie.categories %}
                            <span class="category-{{ category.slug }}">{{ category.title }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="citation">
                    {{ serie.citation|raw }}
                </div>
                <div class="date">
                    {{ "From %start% to %end%"|trans({'%start%': serie.releaseDate|format_date(locale: 'fr_FR', dateFormat: 'full'),'%end%': serie.lastreleaseDate|format_date(locale: 'fr_FR', dateFormat: 'full') }) }}
                </div>
                <div class="duration">
                    {{ time_runtime(runtime) }}
                </div>
                <div class="links">
                    <a href="https://www.imdb.com/title/{{ serie.imdb }}" target="_blank" title="{{ 'IMDB page for the serie'|trans|e('html_attr') }}">
                        {{ 'IMDB page for the serie'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="wrapper">
            {{ serie.description|raw }}
        </div>
    </div>
</section>
