<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}">
    <div class="background" style="background-image: url('{{ site_asset(chapter, 'img') }}')"></div>
    <div class="title">
        {{ chapter.title }}
    </div>
    <div class="date">
        {{ chapter.createdat|date('d/m/Y') }}
    </div>
</section>