{% set chapters = story.chapters|enable %}
{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
	<div class="background" style="--image-url: url('{{ site_asset(story, 'img') }}')"></div>
	<div class="content">
        <div class="wrapper">
            {% if story.tags|length > 0 %}
                <div class="tags">
                    {% for tag in story.tags %}
                        <span class="tag-{{ tag.slug }}">
                            <a href="{{ site_path(tag) }}">
                                {{ tag.title }}
                            </a>
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
            <h3 class="title">
                {{ story.title }}
            </h3>
            {% if configuration.usershow %}
                <div class="author">
                    {{ 'Author : %author%'|trans({ '%author%': story.refuser.username }) }}
                </div>
            {% endif %}
            <div class="chapters">
                {{ 'Number of chapters : %count%'|trans({ '%count%': chapters|length }) }}
            </div>
            <div class="date">
                {{ 'Creation date : %date%'|trans({ '%date%': story.createdat|format_date(locale: 'fr_FR', dateFormat: 'full') }) }}
            </div>
            {% set pdf = site_asset(story, 'pdf', false) %}
            {% if pdf != '' %}
            <div class="pdf">
                <a href="{{ pdf }}" target="_blank">
                    <i class="fa-solid fa-file-pdf"></i>
                    {{ 'Download the PDF version'|trans }}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
