{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
	<div class="first">
        <div class="background" style="--image-url: url('{{ site_asset(movie, 'backdrop') }}')"></div>
        <div class="content">
            <div class="wrapper">
                <h3 class="title">
                    {{ movie.title }}
                </h3>
                {% if movie.categories|length > 0 %}
                    <div class="categories">
                        {% for category in movie.categories %}
                            <span class="categorie-{{ category.slug }}">
                                <a href="{{ site_path(category) }}">
                                    {{ category.title }}
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="citation">{{ movie.citation|raw }}</div>
                <ul>
                    {% if movie.certification != '' %}
                        <li class="certification">
                            <b>
                                {{ 'Certification'|trans }}
                            </b>
                            {% if movie.certification =='U' or movie.certification == 'TP' %}
                                {{ 'All public'|trans }}
                            {% else %}
                                {{ movie.certification }}
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if movie.releaseDate != null %}
                        <li class="release-date">
                            <b>
                                {{ 'Release date'|trans }}
                            </b>
                            {{ movie.releaseDate|date('d/m/Y') }}
                        </li>
                    {% endif %}
                    {% if movie.countries|length != 0 %}
                        <li class="country">
                            <b>
                                {{ 'Country'|trans }}
                            </b>
                            {% for country in movie.countries %}
                                {{ country|country_name  }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                    {% if movie.duration != '' %}
                        <li class="duration">
                            <b>
                                {{ 'Duration'|trans }}
                            </b>
                            {{ time_runtime(movie.duration) }}
                        </li>
                    {% endif %}
                    {% if movie.evaluation != null %}
                        <li class="evaluation"{% if movie.votes != null %} title="{{ 'Votes %d'|trans({'%d': movie.votes})|e('html_attr') }}"{% endif %}>
                            <b>
                                {{ 'Evaluation'|trans }}
                            </b>
                            {{ movie.evaluation }}
                        </li>
                    {% endif %}
                    {% if movie.companies|length != 0 %}
                        <li class="companies">
                            <b>
                                {{ 'Production companies'|trans }}
                            </b>
                            {% for company in movie.companies %}
                                {% if company.url != '' %}
                                    <a href="{{ company.url }}" target="_blank" title="{{ company.title|e('html_attr') }}">{{ company.title }}</a>
                                {% else %}
                                    {{ company.title }}
                                {% endif %}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>
                <div class="links">
                    <a href="https://www.imdb.com/title/{{ movie.imdb }}" target="_blank" title="{{ 'IMDB page for the movie'|trans|e('html_attr') }}">
                        {{ 'IMDB page for the movie'|trans }}
                    </a>
                    <a href="https://www.themoviedb.org/movie/{{ movie.tmdb }}" target="_blank" title="{{ 'TMDB page for the movie'|trans|e('html_attr') }}">
                        {{ 'TMDB page for the movie'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="second">
        <div class="description">
            <div class="wrapper html-content">
                {{ movie.description|raw }}
            </div>
        </div>
        {% if movie.trailer != '' %}
            {% set oembed = oembed(movie.trailer) %}
            {% if oembed.oembed != '' %}
                <div class="trailer">
                    {% include "embed/video.html.twig" with {
                        'btntitle': 'Watch the trailer'|trans,
                        'image': site_asset(movie, 'backdrop'),
                        'provider': oembed.provider,
                        'trailer': oembed.oembed
                    } %}
                </div>
            {% endif %}
        {% endif %}
        {% set castings = casting_cast(movie) %}
        {% set actings = casting_acting(castings) %}
        {% if actings|length > 0 %}
            <div class="actings">
                <h4 class="subtitle">
                    {{ 'Cast'|trans }}
                </h4>
                <div class="wrapper">
                    {% for acting in actings %}
                        <div class="acting">
                            <div class="actor">
                                <a href="{{ site_path(acting.refperson) }}">
                                    <div class="profile" style="--image-url: url('{{ site_asset(acting.refperson, 'profile') }}')"></div>
                                    <div class="name">
                                        {{ acting.refperson.title }}
                                    </div>
                                </a>
                            </div>
                            <div class="character">
                                {{ acting.figure }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
