{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
	<div class="background" style="--image-url: url('{{ site_asset(post, 'img') }}')"></div>
	<div class="content">
        <div class="wrapper">
            <h3 class="title">
                {{ post.title }}
            </h3>
            {% if post.tags|length > 0 %}
                <div class="tags">
                    {% for tag in post.tags %}
                        <span class="tag-{{ tag.slug }}">{{ tag.title }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if post.categories|length > 0 %}
                <div class="categories">
                    {% for category in post.categories %}
                        <span class="category-{{ category.slug }}">{{ category.title }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="date">
                {{ 'Creation date : %date%'|trans({ '%date%': post.createdat|format_date(locale: 'fr_FR', dateFormat: 'full') }) }}
            </div>
        </div>
    </div>
</section>
