{% use "elements.html.twig" %}
{% set runtime = 0 %}
{% for season in serie.seasons %}
    {% for episode in season.episodes %}
        {% set runtime = runtime + episode.runtime %}
    {% endfor %}
{% endfor %}
{% if serie.isinProduction %}
    {% set title_icon = 'play' %}
    {% set title_icon_title = 'In production'|trans %}
{% else %}
    {% set title_icon = 'stop' %}
    {% set title_icon_title = 'Not in production'|trans %}
{% endif %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="first">
        <div class="background" style="--image-url: url('{{ site_asset(serie, 'img') }}')"></div>
        <div class="content">
            <div class="wrapper">
                <h3 class="title {{ title_icon }}" title="{{ title_icon_title|e('html_attr') }}">{{ serie.title }}</h3>
                {% if serie.categories|length > 0 %}
                    <div class="categories">
                        {% for category in serie.categories %}
                            <span class="category-{{ category.slug }}">
                                <a href="{{ site_path(category) }}">
                                    {{ category.title }}
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="citation html-content">
                    {{ serie.citation|raw }}
                </div>
                <div class="date">
                    {{ "From %start% to %end%"|trans({'%start%': serie.releaseDate|format_date(locale: 'fr_FR', dateFormat: 'full'),'%end%': serie.lastreleaseDate|format_date(locale: 'fr_FR', dateFormat: 'full') }) }}
                </div>
                <div class="duration">
                    {{ time_runtime(runtime) }}
                </div>
                <div class="links">
                    <a href="https://www.imdb.com/title/{{ serie.imdb }}" target="_blank" title="{{ 'IMDB page for the serie'|trans|e('html_attr') }}">
                        {{ 'IMDB page for the serie'|trans }}
                    </a>
                    <a href="https://www.themoviedb.org/tv/{{ serie.tmdb }}" target="_blank" title="{{ 'TMDB page for the serie'|trans|e('html_attr') }}">
                        {{ 'TMDB page for the serie'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="wrapper html-content">
            {{ serie.description|raw }}
        </div>
    </div>
</section>
