{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
	<div class="first">
        <div class="background" style="--image-url: url('{{ site_asset(game, 'img') }}')"></div>
        <div class="content">
            <div class="wrapper">
                <h3 class="title">
                    {{ game.title }}
                </h3>
                {% if game.categories|length > 0 %}
                    <div class="categories">
                        {% for category in game.categories %}
                            <span class="categorie-{{ category.slug }}">
                                <a href="{{ site_path(category) }}">
                                    {{ category.title }}
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
                <ul>
                    {% if game.franchises|length != 0 %}
                        <li>
                            {{ 'Franchise'|trans }}: 
                            {% for franchise in game.franchises %}
                                <span class="franchise">{{ franchise.title }}</span>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                    <li>
                        {{ 'Platforms'|trans }}: 
                        {% for platform in game.platforms %}
                            <span class="platform">{{ platform }}</span>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </li> 
                </ul>
                <div class="links">
                    <a href="{{ game.url }}" target="_blank" title="{{ 'IGDB Page'|trans|e('html_attr') }}">
                        {{ 'IGDB Page'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="second">
        <div class="summary">
            <div class="wrapper html-content">
                {{ game.summary|raw }}
            </div>
        </div>
        {% set images = game.artworks %}
        {% set images = images|merge(game.screenshots) %}
        <div class="artworks">
            <div class="wrapper">
                <div class="swiper swiper-game-artworks">
                    <div class="swiper-wrapper">
                        {% for artwork in images %}
                            <div class="swiper-slide">
                                <div class="artwork" style="--image-url: url('{{ artwork }}')"></div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next swiper-game-artworks-button-next"></div>
                    <div class="swiper-button-prev swiper-game-artworks-button-prev"></div>
                </div>
            </div>
        </div>
        <div class="videos">
            <div class="wrapper">
                <div class="swiper swiper-game-video">
                    <div class="swiper-wrapper">
                        {% for codeVideo in game.videos %}
                            {% set trailer = 'https://www.youtube.com/watch?v=' ~ codeVideo %}
                            {% set oembed = oembed(trailer) %}
                            {% if oembed.oembed != '' %}
                                <div class="swiper-slide">
                                    <div class="video">
                                        {% include "embed/video.html.twig" with {
                                            'btntitle': oembed.title,
                                            'image': site_asset(game, 'img'),
                                            'provider': oembed.provider,
                                            'trailer': oembed.oembed
                                        } %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next swiper-game-video-button-next"></div>
                    <div class="swiper-button-prev swiper-game-video-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>
