{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="background" style="--image-url: url('{{ site_asset(data.entity, 'img') }}')"></div>
    <div class="wrapper">
        <div class="content">
            <h1 class="title">
                {{ data.entity.title }}
            </h1>
            <h2>{{ paragraph.title }}</h2>
            {% if paragraph.pdf %}
                <div class="pdf">
                    <a href="{{ site_asset(paragraph, 'pdf', false) }}" target="_blank">
                        {{ "My CV"|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</section>