{% use "elements.html.twig" %}
{% set serie = season.refserie %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
	<div class="first">
        <div class="background" style="--image-url: url('{{ site_asset(season, 'img') }}')"></div>
        <div class="content">
                <div class="wrapper">
                    <h3 class="title">
                        {{ serie.title }} - {{ season.title }}
                    </h3>
                    {% if serie.categories|length > 0 %}
                        <div class="categories">
                            {% for category in serie.categories %}
                                <span class="category-{{ category.slug }}">{{ category.title }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="links">
                        <a href="https://www.imdb.com/title/{{ season.refserie.imdb }}" target="_blank" title="{{ 'IMDB page for the serie'|trans|e('html_attr') }}">
                            {{ 'IMDB page for the serie'|trans }}
                        </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="resume">
        <div class="wrapper">
            {{ season.overview|raw }}
        </div>
    </div>
</section>
