{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        <h2>
            {{ paragraph.title }}
        </h2>
        <div class="slider">
            <div class="swiper swiper-movie">
                <div class="swiper-wrapper">
                    {% for movie in movies %}
                        <div class="swiper-slide teaser teaser-movie">
                            <div class="background spoiler" data-bg="{{ site_asset(movie, 'poster') }}" title="{{ movie.title|e('html_attr') }}"></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next swiper-movie-button-next"></div>
                <div class="swiper-button-prev swiper-movie-button-prev"></div>
            </div>
        </div>
        <div class="link">
            <a href="{{ path('front', {'slug': listing.slug}) }}" class="btn" title="{{ "See all movie"|trans|e('html_attr') }}">
                {{ 'See all movie'|trans }}
            </a>
        </div>
    </div>
</section>