<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}"{{ paragraph_contextmenu(paragraph) }}>
    <div class="wrapper">
        <div class="content">
            {% if pagination|length == 0 %}
                <p>{{ 'No movies found'|trans }}</p>
            {% endif %}
            <ul>
                {% for row in pagination %}
                    <li class="teaser-movie">
                        {% include  "teasers/movie.html.twig"  with {'movie': row} %}
                    </li>
                {% endfor %}
            </ul>
            <aside>
                {% form_theme form 'bootstrap_5_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_end(form) }}
            </aside>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</section>