{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        <div class="content">
            {% if pagination|length == 0 %}
                <div class="notfound">
                    <span class="text">{{ 'No movies match your search.'|trans }}</span>
                </div>
            {% else %}
                <ul>
                    {% for row in pagination %}
                        <li class="teaser-movie">
                            {% include "teasers/movie.html.twig"  with {'movie': row} %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <aside>
                {% form_theme form 'bootstrap_5_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_end(form) }}
            </aside>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</section>