{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    {% if paragraph.img %}
        <div class="background" style="--image-url: url('{{ site_asset(paragraph, 'img') }}')"></div>
    {% endif %}
    <div class="wrapper">
        <div class="content">
            <div class="title">{{ paragraph.title }}</div>
            {% if paragraph.pdf %}
                <div class="pdf">
                    <a href="{{ site_asset(paragraph, 'pdf', false) }}" target="_blank">
                        {{ "My CV"|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</section>