<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}"{{ paragraph_contextmenu(paragraph) }}>
    <div class="wrapper">
        <div class="title">
            {{ paragraph.title }}
        </div>
        <ul>
            {% for row in pagination %}
                <li class="star-teaser">
                    {% include  "teasers/star.html.twig"  with {'star': row} %}
                </li>
            {% endfor %}
        </ul>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</section>