{% form_theme form with '@EasyAdmin/crud/form_theme.html.twig' only %}
<div class="modal-header">
	<h5 class="modal-title">{{ 'Import series'|trans }}</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
	{{ form(form) }}
</div>
<div class="modal-footer">
	<div class="d-none ajax-enable">
		{{ 'Traitement in progress...'|trans }}
	</div>
	<div class="d-none ajax-disable">
		{{ 'Traitement finished'|trans }}
	</div>	
	<button type="button" class="btn btn-primary searchdata-modal" data-url="{{ ea_url().setController(controller).setAction('importFile') }}">{{ 'Import'|trans }}</button>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
</div>
