<table class="table datagrid{% if games|length == 0 %} datagrid-empty{% endif %} data-ajax" data-page="{{ page }}">
    {% if games|length != 0 %}
        <thead>
            <tr>
                <th>
                    {{ 'Name'|trans }}
                </th>
                <th>
                    {{ 'Cover'|trans }}
                </th>
                <th>
                    {{ 'Type'|trans }}
                </th>
                <th>
                    {{ 'Release date'|trans }}
                </th>
                <th>
                    {{ 'Url'|trans }}
                </th>
                <th>
                    {{ 'Action'|trans }}
                </th>
            </tr>
        </thead>
    {% endif %}
    <tbody>
        {% for game in games %}
            <tr data-id="{{ (game.version_parent is defined) ? game.version_parent : game.id }}">
                <td class="text-left" dir="ltr">
                    <span title="{{ game.name|e('html_attr') }}">{{ game.name }}</span>
                </td>
                <td>
                    {% if game.cover is defined and game.cover != '' %}
                        <img src="{{ game.cover.url }}" alt="{{ game.name|e('html_attr') }}">
                    {% else %}
                        <span title="N/A">N/A</span>
                    {% endif %}
                </td>
                <td>
                    {% if game.game_type.type is defined %}
                        {{ game.game_type.type|capitalize }}
                    {% endif %}
                <td>
                    {% if game.first_release_date is defined %}
                        {{ game.first_release_date|date('d/m/Y') }}
                    {% endif %}
                </td>
                <td class="text-left" dir="ltr">
                    <a href="{{ game.url }}" target="_blank">
                        {{ 'Link igdb'|trans }}
                    </a>
                </td>
                <td>
                    {% set url = ea_url().setController(controller).setAction('addByApi') %}
                    {% if game.version_parent is defined %}
                        {% set url = url.set('id', game.version_parent) %}
                    {% else %}
                        {% set url = url.set('id', game.id) %}
                    {% endif %}
                    {% if platform != '' %}
                        {% set url = url.set('platform', platform) %}
                    {% endif %}
                    <a href="{{ url }}" class="addtobdd">
                        {{ 'Select'|trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            {% block table_body_empty %}
				{% for i in 1..6 %}
					<tr class="empty-row">
						<td><span></span></td>
						<td><span></span></td>
						<td><span></span></td>
						<td><span></span></td>
						<td><span></span></td>
						<td><span></span></td>
					</tr>

					{% if 3 == loop.index %}
						<tr class="no-results">
							<td colspan="100">
								{{ t('datagrid.no_results', ea().i18n.translationParameters, 'EasyAdminBundle')|trans }}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endblock table_body_empty %}
        {% endfor %}
    </tbody>
</table>