<div id="{{ block_id(block) }}" class="{{ block_class(block) }}"{{ block_contextmenu(block) }}>
    <ul>
        <li>
            <a href="{{ path('admin') }}" target="_blank">
                {{ 'Admin'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ url }}" target="_blank">
                {{ 'Edit (%title%)'|trans({ '%title%': data.entity.title }) }}
            </a>
        </li>
        <li>
            <a href="{{ path('app_logout') }}">
                {{ 'Logout'|trans }}
            </a>
        </li>
    </ul>
</div>
<div class="context-menu" id="contextMenu">
    <ul id="menuItems"></ul>
</div>