<div id="{{ block_id(block) }}" class="{{ block_class(block) }}">
    <ul>
        <li><a href="{{ url }}" target="_blank">Editer ({{ data.entity.title }})</a></li>
        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
    </ul>
</div>