{% use "elements.html.twig" %}
<div{% with {attr: block_contextmenu(block)} %}{{ block('attributes') }}{% endwith %}>
    <ul>
        <li>
            <a href="{{ path('admin') }}" target="_blank">
                {{ 'Admin'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ url }}" target="_blank">
                {{ 'Edit'|trans }}
            </a>    
        </li>
        <li>
            <a href="{{ path('app_logout') }}">
                {{ 'Logout'|trans }}
            </a>
        </li>
    </ul>
</div>
<div class="context-menu" id="contextMenu">
    <ul id="menuItems"></ul>
</div>