<div id="{{ block_id(block) }}" class="{{ block_class(block) }}">
    <section>
        {% for tab in paragraphs %}
            {{ debug_begin(tab) }}
            {{ paragraph_show(tab) }}
            {{ debug_end(tab) }}
        {% endfor %}
    </section>
    {% if aside is defined %}
        <aside>
            aa
        </aside>
    {% endif %}
</div>