<div id="{{ block_id(block) }}" class="{{ block_class(block) }}"{{ block_contextmenu(block) }}>
    <div class="wrapper">
        {% for label, messages in app.flashes %}
            <div class="flash-{{ label }}">
                <div>{{ label }}</div>
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>