{% extends '@!EasyAdmin/layout.html.twig' %}
{% block head_stylesheets %}
	{{ encore_entry_link_tags('back') }}
  {{ parent() }}
{% endblock %}
{% block head_metas %}
  {{ parent() }}
	<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block head_javascript %}
  {{ parent() }}
	{{ encore_entry_script_tags('back') }}
{% endblock %}
{% block content %}
    {{ parent() }}

    {# Container global de la modal EasyAdmin #}
    <div class="modal fade" id="easyadmin-modal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" id="easyadmin-modal-content">
                <!-- Contenu chargé dynamiquement via JS -->
            </div>
        </div>
    </div>
{% endblock %}
