<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        {% if error is defined %}
            <div class="alert alert-danger" role="alert">
                {% if error == 'notuser' %}
                    {{ 'User not found'|trans }}
                {% elseif error == 'notallowed' %}
                    {{ 'Password change not allowed for this user'|trans }}
                {% endif %}
            </div>
        {% else %}
            {% form_theme form 'bootstrap_5_layout.html.twig' %}
            {% use "elements.html.twig" %}
            {% if execute %}
                {{ paragraph.content|raw }}
            {% else %}
                {{ form(form) }}
            {% endif %}
        {% endif %}
    </div>
</section>