{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% use "elements.html.twig" %}
<section{% with {attr: paragraph_contextmenu(paragraph)} %}{{ block('attributes') }}{% endwith %}>
    <div class="wrapper">
        {% if execute %}
            <div class="alert" role="alert">
				<div class="alert__content html-content">{{ paragraph.content|raw }}</div>
			</div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.content) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
</section>