<table class="table datagrid {{ (recommandations|length != 0) ? 'datagrid-empty' }}">
    {% if recommandations|length != 0 %}
        <thead>
            <tr>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Poster'|trans }}</th>
                <th>{{ 'Overview'|trans }}</th>
                <th>{{ 'Vote Average'|trans }}</th>
                <th>{{ 'Popularity'|trans }}</th>
                <th>{{ 'Date'|trans }}</th>
                <th>{{ 'Links'|trans }}</th>
                <th>{{ 'Release Date'|trans }}</th>
            </tr>
        </thead>
    {% endif %}
    <tbody>
    {% for recommandation in recommandations %}
        {% set title = (recommandation.title is defined ) ? recommandation.title : recommandation.name %}
        <tr>
            <td>{{ title }}</td>
            <td>
                {% if recommandation.poster_path != null %}
                    <img src="{{ recommandation.poster_path }}" alt="{{ title }}" style="height: 100px;">
                {% endif %}
            </td>
            <td>{{ recommandation.overview }}</td>
            <td>{{ recommandation.vote_average }}</td>
            <td>{{ recommandation.popularity }}</td>
            <td>{{ recommandation.date|format_date(locale: 'fr_FR', dateFormat: 'medium') }}
            <td>
                <a href="{{ recommandation.links }}" target="_blank">{{ 'View on TMDb'|trans }}</a>
            </td>
            <td>
                <a href="{{ recommandation.add }}" target="_blank">{{ 'Add'|trans }}</a>
            </td>
        </tr>
    {% else %}
        {% for i in 1..14 %}
            <tr class="empty-row">
                <td><span></span></td>
                <td><span></span></td>
                <td><span></span></td>
                <td><span></span></td>
                <td><span></span></td>
                <td><span></span></td>
            </tr>

            {% if 3 == loop.index %}
                <tr class="no-results">
                    <td colspan="9">
                        {{ t('datagrid.no_results', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>